<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToFirstPage()"> Start </ion-button>
    </ion-buttons>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ng-container  *ngFor="let item of listOfPokemons">
      <ion-item (click)="navigateToPokeInfo(item.name)">
        <h3>{{item.name}}</h3>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
